@model List<League>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Leagues archive</h2>
        </div>
    </div>


<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <th>
            Team name
        </th>
        <th>
            Number of teams
        </th>
        <th>
            Season started
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (League obj in Model)
    {
        <tr>
            <td>
                @obj.Name
            </td>
            <td>
                @obj.TeamList.Count
            </td>
            <td>
                @{var isStarted = obj.IsStarted ? "Yes" : "No"; }
                @isStarted
            </td>
            <td>
                <div class="w-75 btn-group" role="group">
                    <a asp-controller="League" asp-action="Table" asp-route-id="@obj.Id" class="btn btn-primary mx-2">View</a>
                    <a asp-controller="League" asp-action="Restart" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Start new season</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

</div>