@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 100%; height: 70vh; display: flex; justify-content: center; align-items: center;">
    <h2>Welcome in Football League Management System!</h2>
    <br/>
    <h3>
        I love football, and I like to create football leagues! (in fifa, but still! XD) <br/>
        That's why I created this application, to let people create and manage their leagues easily! <br/>
        Please use navigation bar to explore the app!
    </h3>
</div>
